@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,600&display=swap');

html{
  font-family: 'Poppins', sans-serif;
}

body{
  background-image: url(./BackGroundImage/fondo4.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #ffffff;
} 


button{
  cursor: pointer;
  font-family: inherit;
  color: #8E3D4C;
  background-color: orange;
  border: 2px solid;
  padding: 10px 20px;
  border-radius:10px;
  font-weight: 700;
}

h1{
  text-align: center;
  text-shadow: 2px 2px 0 orange, -2px -2px 0 orange, -2px 2px 0 orange, 2px -2px 0 orange;
}
p{
  text-align: center;
  background-color: #fff9;
  color:  black;
  padding: 15px;
  border-radius: 15px;
}

.container{
  width: 320px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 95vh;
}

.phraseAuthor{
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}